.login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    width: 56vw;
    height: 62vh;
    box-shadow: 0px 5px 20px 0px $base-drop-shadow;
  }

  &__left {
    min-width: 43%;
    width: 43%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -450px;
    height: 102%;
  }

  &__right {
    width: 100%;
    padding: 6.45em 6.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__methods {
    display: flex;
    justify-content: space-evenly;
  }

  &__method {
    font-size: 26px;
    font-weight: bold;
    color: $base-black-color-opacity;
    text-transform: uppercase;
    @include letter-spacing(155);

    &--active {
      color: $base-black-color;
      position: relative;

      &::after {
        @include pseudo();
        height: 3px;
        background-color: $base-black-color;
        width: 100%;
        bottom: -4px;
        left: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
