$black-color: #0e1111;
$white-color: #ffffff;
$shape-color: #d5c3ac;
$accent-color: #40bfc1;
$blue-color: #0771ff;
$black-color-opacity: rgba($black-color, 0.5);
$drop-shadow: rgba($black-color, 0.16);
