.button {
  @include letter-spacing(128);
  background-color: $base-white-color;
  border: 2px solid $base-black-color;
  color: $base-black-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 44px;
  width: 150px;
  height: 50px;

  &--auth:hover {
    color: $base-white-color;
    background-color: $shape-color;
    border-color: $shape-color;
  }
}
